{% extends 'layout.njk' %}

{% block content %}
   <header>
      <h1 class='title'>Cadastro de Contatos</h1>
    </header>

   <div class="content container">
      <a href="/contacts/create">
         <button class='buttons'>
            Cadastrar
         </button>
      </a>


      <div>
         {% for contact in contacts %}
         <div class='image-container'>
            <div class='img-width'>
               <img src="/uploads/{{contact.image}}" alt="">
            </div>
            <div>
               <p>{{contact.name}}</p>
            </div>
            <div class='buttons-homepage'>
               <a href="/contacts/{{contact.id}}/edit">
                  <button class='buttons'>
                  Editar
                  </button>
               </a>
               <a href="/contacts/{{contact.id}}">
                  <button class='buttons'>
                  Visualizar
                  </button>
               </a>
               <form action="/contacts/{{contact.id}}/?_method=DELETE" method='post'>
                  <a href="">
                     <button class='buttons delete'>
                     Apagar
                     </button>
                  </a>
               </form>
            </div>
         </div>
         {% endfor %}
      </div>

      <div class="pagination" 
         data-page={{page}}
         data-total={{pages}}
      ></div>
   </div>


<script>
   const formDelete = document.querySelector("#form-delete");

  formDelete.addEventListener("submit", (event) => {
    const confirm = confirm("Confirma as alterações?");
    if (!confirm) {
     event.preventDefault();
    }
  });
</script>

{% endblock content %}