<!DOCTYPE html>
<html>
    <head>

        {% block head %}
            <title>Cadastro de Contatos</title>
        {% endblock %}
        <link rel="stylesheet" href="/style.css">
    </head>
    <body>
        <script
            src="https://code.jquery.com/jquery-3.2.1.min.js"
            integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script type='text/javascript' src='//igorescobar.github.io/jQuery-Mask-Plugin/js/jquery.mask.min.js'></script>
        
        {% block content %}{% endblock %}

        <script src="/script.js"></script>
    </body>
</html>